In [1]:
import pandas as pd  
import datetime  
import time  
import warnings

In [2]:
# Define the local file path 
file_path = 'zip_code_market_tracker.tsv000.gz'

# Start time
start = time.time()

# Read the file
df = pd.read_csv(file_path, compression='gzip', sep='\t', on_bad_lines='skip')

# End time
execution = time.time() - start

# Print execution time and dataset info
print('Execution time in minutes:', round(execution / 60, 2))
print('Number of rows:', len(df))
print('Number of columns:', len(df.columns))

# Display first few rows
df.head()

Execution time in minutes: 1.19
Number of rows: 8749566
Number of columns: 58

,period_begin,period_end,period_duration,region_type,region_type_id,table_id,is_seasonally_adjusted,region,city,state,...,sold_above_list_yoy,price_drops,price_drops_mom,price_drops_yoy,off_market_in_two_weeks,off_market_in_two_weeks_mom,off_market_in_two_weeks_yoy,parent_metro_region,parent_metro_region_metro_code,last_updated
0,2022-06-01,2022-08-31,90,zip code,2,19125,f,Zip Code: 45390,NaN,Ohio,...,0.266667,NaN,NaN,NaN,0.428571,-0.238095,0.228571,"Greenville, OH",24820,2025-02-10 14:21:52
1,2021-09-01,2021-11-30,90,zip code,2,38345,f,Zip Code: 92507,NaN,California,...,0.201081,NaN,NaN,NaN,0.457143,-0.011389,-0.067857,"Riverside, CA",40140,2025-02-10 14:21:52
2,2023-04-01,2023-06-30,90,zip code,2,34424,f,Zip Code: 79404,NaN,Texas,...,0.000000,NaN,NaN,NaN,0.210526,-0.083591,-0.075188,"Lubbock, TX",31180,2025-02-10 14:21:52
3,2021-03-01,2021-05-31,90,zip code,2,1738,f,Zip Code: 04969,NaN,Maine,...,0.222222,NaN,NaN,NaN,0.333333,0.083333,0.000000,"Bangor, ME",12620,2025-02-10 14:21:52
4,2022-06-01,2022-08-31,90,zip code,2,7527,f,Zip Code: 19403,NaN,Pennsylvania,...,0.033102,NaN,NaN,NaN,0.668639,-0.070250,-0.061594,"Montgomery County, PA",33874,2025-02-10 14:21:52

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8749566 entries, 0 to 8749565
Data columns (total 58 columns):
 #   Column                          Dtype
---  ------                          -----
 0   period_begin                    object
 1   period_end                      object
 2   period_duration                 int64
 3   region_type                     object
 4   region_type_id                  int64
 5   table_id                        int64
 6   is_seasonally_adjusted          object
 7   region                          object
 8   city                            float64
 9   state                           object
 10  state_code                      object
 11  property_type                   object
 12  property_type_id                int64
 13  median_sale_price               float64
 14  median_sale_price_mom           float64
 15  median_sale_price_yoy           float64
 16  median_list_price               float64
 17  median_list_price_mom           float64
 18  median_list_price_yoy           float64
 19  median_ppsf                     float64
 20  median_ppsf_mom                 float64
 21  median_ppsf_yoy                 float64
 22  median_list_ppsf                float64
 23  median_list_ppsf_mom            float64
 24  median_list_ppsf_yoy            float64
 25  homes_sold                      float64
 26  homes_sold_mom                  float64
 27  homes_sold_yoy                  float64
 28  pending_sales                   float64
 29  pending_sales_mom               float64
 30  pending_sales_yoy               float64
 31  new_listings                    float64
 32  new_listings_mom                float64
 33  new_listings_yoy                float64
 34  inventory                       float64
 35  inventory_mom                   float64
 36  inventory_yoy                   float64
 37  months_of_supply                float64
 38  months_of_supply_mom            float64
 39  months_of_supply_yoy            float64
 40  median_dom                      float64
 41  median_dom_mom                  float64
 42  median_dom_yoy                  float64
 43  avg_sale_to_list                float64
 44  avg_sale_to_list_mom            float64
 45  avg_sale_to_list_yoy            float64
 46  sold_above_list                 float64
 47  sold_above_list_mom             float64
 48  sold_above_list_yoy             float64
 49  price_drops                     float64
 50  price_drops_mom                 float64
 51  price_drops_yoy                 float64
 52  off_market_in_two_weeks         float64
 53  off_market_in_two_weeks_mom     float64
 54  off_market_in_two_weeks_yoy     float64
 55  parent_metro_region             object
 56  parent_metro_region_metro_code  int64
 57  last_updated                    object
dtypes: float64(43), int64(5), object(10)
memory usage: 3.8+ GB

In [5]:
# filter state
state_code = 'VA'
df_filter = df.loc[df['state_code'] == state_code]
print('Num of rows:', len(df_filter))
df_filter.head(1)

Num of rows: 228485

,period_begin,period_end,period_duration,region_type,region_type_id,table_id,is_seasonally_adjusted,region,city,state,...,sold_above_list_yoy,price_drops,price_drops_mom,price_drops_yoy,off_market_in_two_weeks,off_market_in_two_weeks_mom,off_market_in_two_weeks_yoy,parent_metro_region,parent_metro_region_metro_code,last_updated
14,2019-05-01,2019-07-31,90,zip code,2,9670,f,Zip Code: 24244,NaN,Virginia,...,0.1,NaN,NaN,NaN,0.1,0.0,0.1,"Kingsport, TN",28700,2025-02-10 14:21:52

In [9]:
# Ensure 'city' column is a string before filtering
df['city'] = df['city'].astype(str)

# Filter for Charlottesville City in Virginia
df_charlottesville = df.loc[
    (df['state'] == 'VA') & 
    (df['city'].str.contains('Charlottesville', case=False, na=False))
]

# Print the number of rows in the filtered dataset
print(f"Number of rows for Charlottesville: {len(df_charlottesville)}")

# Display first few rows of the filtered dataset
df_charlottesville.head()

Number of rows for Charlottesville: 0

Empty DataFrame
Columns: [period_begin, period_end, period_duration, region_type, region_type_id, table_id, is_seasonally_adjusted, region, city, state, state_code, property_type, property_type_id, median_sale_price, median_sale_price_mom, median_sale_price_yoy, median_list_price, median_list_price_mom, median_list_price_yoy, median_ppsf, median_ppsf_mom, median_ppsf_yoy, median_list_ppsf, median_list_ppsf_mom, median_list_ppsf_yoy, homes_sold, homes_sold_mom, homes_sold_yoy, pending_sales, pending_sales_mom, pending_sales_yoy, new_listings, new_listings_mom, new_listings_yoy, inventory, inventory_mom, inventory_yoy, months_of_supply, months_of_supply_mom, months_of_supply_yoy, median_dom, median_dom_mom, median_dom_yoy, avg_sale_to_list, avg_sale_to_list_mom, avg_sale_to_list_yoy, sold_above_list, sold_above_list_mom, sold_above_list_yoy, price_drops, price_drops_mom, price_drops_yoy, off_market_in_two_weeks, off_market_in_two_weeks_mom, off_market_in_two_weeks_yoy, parent_metro_region, parent_metro_region_metro_code, last_updated]
Index: []

[0 rows x 58 columns]

In [10]:
# Define the output file path
output_file = 'va_filtered_listings.csv'

# Save the filtered DataFrame to a CSV file
df_filter.to_csv(output_file, index=False)

print(f"Filtered dataset saved to {output_file}")

Filtered dataset saved to va_filtered_listings.csv